body {
    /* font-family: "Roboto", sans-serif; */
    font-family: "Open Sans", sans-serif;
    background-color: #eee !important;
}

:root {
    --primary-color: rgb(15, 97, 72);
}

.bg-sec{
    background-color: #00854d;
    border-radius: 20px;
}


#preloaderr {
    position: fixed;
    top: 0%;
    left: 0px;
    width: 100%;
    height: 100vh;
    transition: all .5s ease-in-out;
    z-index: 9999;
}

.new-loader {
    /* background: #fff; */
    font-family: sans-serif;
    
    display: flex;
    align-items: center;
    justify-content: center;

}
.new-loader h2 {
    color: rgba(255, 255, 255, 0.5);
    font-size: 2.5em;
    animation: fadetext 3s linear;
    font-weight: 500;
}
.new-loader h2:before {
    content: attr(data-text);
    position: absolute;
    overflow: hidden;
    max-width: 15em;
    white-space: nowrap;
    color: #fff;
    animation: loading 3s linear;
    font-weight: 500;
}

@keyframes loading {
    0% {
        max-width: 0;
    }
}

@keyframes fadetext {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.background-gradient-animation {
    background: #FF5A5C;
    background: linear-gradient(232deg, #5a8eff, #8DA4D0, #017585); 
    background-size: 600% 600%; 

    animation: colourFade 10s ease infinite;
    
}


@keyframes colourFade {
    0%   {background-position: 0 76%;}
    50%  {background-position: 100% 25%;}
    100% {background-position: 0 76%;}
  }

.background-gradient-animation {
  width: 100%;
  height: 100vh;
}


.navbar {
    /* border-radius: 0px 0px 30px 30px !important; */
    padding: 5px 20px !important;
    background-color: #fff !important;
    border-radius: 25px;
}

.navbar-brand {
    font-weight: 700 !important;
    font-size: 28px !important;
    color: #000 !important;
}

.nav-main {
    position: fixed;
    top: 10px;
    left: 0px;
    width: 100%;
    z-index: 9995;
}

.side-nav {
    
}

.side-nav a {
    color: #fff !important;
    text-decoration: none !important;
    border-radius: 100px !important;
    padding: 19px 10px !important;
    background-color: var(--primary-color);
    display: block;
    text-align: center;
    border: none !important;
    font-weight: 700;
}


.side-nav a:hover {
    color: #fff;
    background-color: rgb(15, 97, 72);
}

.navbar-brand {
    padding: 10px !important;
}

.navbar-brand img {
    width: 110px;
}

.nav-link {
    margin: 0px 15px !important;
    text-decoration: none !important;
    font-size: 16px !important;
    color: #000 !important;
    font-weight: 600 !important;
}

/* Banner */

.banner {
    /* background-color: #eee; */
    background-image: url('../img/banner.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.layer {
    background-color: rgba(0, 0, 0, 0.5);
}

.banner-cntnt h1 {
    font-weight: 700;
    color: #fff;
    font-size: 62px;
}

.banner-cntnt h1 span {
    color: var(--primary-color);
}

.banner-cntnt p {
    color: #eee;
    font-size: 18px;
    margin-bottom: 20px;
    font-weight: 600;
}

.btn-new {
    background-color: var(--primary-color);
    padding: 12px 25px;
    display: inline-block;
    color: #f6f6f6;
    text-decoration: none;
    border-radius: 30px;
    font-weight: 600;
    margin-right: 10px;
    font-size: 17px;
}


.btn-new-2 {
    background-color: #eee !important;
    padding: 12px 25px;
    display: inline-block;
    color: #555 !important;
    text-decoration: none !important;
    border-radius: 30px;
    font-weight: 600;
    margin-right: 20px;
    font-size: 17px;
}

.banner-cntnt>span {
    display: block;
    padding-top: 0px;
    font-size: 14px;
    color: #000;
}

.vh-75 {
    height: 80vh;
}

/* Section */

.sec-bg {
    background-color: #fff;
    padding: 20px;
    border-radius: 20px;
    margin-bottom: 40px;
}

.sec-cntnt h2 {
    font-weight: 700;
    color: #000;
}

.sec-cntnt h6 {
    color: var(--primary-color);
    font-weight: 400;
    font-size: 22px;
    margin-bottom: 40px;
}

.sec-cntnt p {
    font-size: 16px;
    color: #222;
}

.sec-img {
    background-color: #f6f6f6;
    border-radius: 20px;
    overflow: hidden;
}

.sec-img img {
    width: 100%;
}


footer {
    background-color: #000;
}

.footer-logo {
    margin-bottom: 25px;
}

.footer-logo img {
    width: 150px;
    margin-bottom: 10px;
}

.footer-menu {
}

.footer-menu h4 {
    color: #fff;
    font-size: 20px;
    font-weight: 700;
    padding-bottom: 6px;
    margin-bottom: 15px;
}

.footer-menu a {
    color: #fff;
    text-decoration: none !important;
    margin-bottom: 10px;
    display: block;
    font-size: 16px;
    font-weight: 500;
}

.footer-menu a:hover {
    color: #fff;
}

.box-one h1 {
    font-weight: 900;
    font-size: 36px;
    margin-bottom: 20px;
}

.box-one h2 {
    font-weight: 700;
    text-transform: uppercase;
    border-top: 1px solid #aaa;
    padding-top: 20px;
    margin-top: 20px;
    padding-bottom: 20px;
}

.box-one h2:first-child {
    border: none;
}

.box-one h3 {
    font-weight: 600;
    font-size: 18px;
}

.box-one p {
    margin-bottom: 8px;
    color: #333;
}

.box-one ul {
    list-style: square;
}

.box-one li {
    margin-bottom: 15px;
}

.box-two h1 {
    font-weight: 900;
    font-size: 36px;
    margin-bottom: 20px;
    color: var(--primary-color);
}

.box-two h2 {
    color: var(--primary-color);
    font-weight: 700;
}

.box-two h3 {
    font-weight: 600;
    font-size: 18px;
}

.box-two p {
    margin-bottom: 8px;
    color: #333;
}

.box-two ul {
    list-style: square;
}

.box-two li {
    margin-bottom: 15px;
}

.box-two strong {
    color: var(--primary-color);
}

.box-three h1 {
    font-weight: 900;
    font-size: 36px;
    margin-bottom: 20px;
    background-color: var(--primary-color);
    padding: 20px;
    border-radius: 10px;
}

.box-three h1>strong {
    color: #fff !important;
}

.box-three h2 {
    font-weight: 700;
    background-color: var(--primary-color);
    display: inline-block;
    padding: 10px 30px;
    border-radius: 10px;
}

.box-three h2>strong {
    color: #fff !important;
}

.box-three h3 {
    font-weight: 600;
    font-size: 18px;
}

.box-three p {
    margin-bottom: 8px;
    color: #333;
}

.box-three ul {
    list-style: square;
}

.box-three li {
    margin-bottom: 15px;
}

.box-three strong {
    color: var(--primary-color);
}

.box-four h1 {
    font-weight: 900;
    font-size: 36px;
    margin-bottom: 20px;
}


.box-four h2 {
    font-weight: 700;
    font-size: 48px;
    border-bottom: 2px solid #444;
    padding-bottom: 20px;
}



.box-four h3 {
    font-weight: 600;
    font-size: 20px;
}

.box-four p {
    font-size: 18px;
    margin-bottom: 8px;
    color: #000;
}

.box-four ul {
    list-style: circle;
}

.box-four li {
    margin-bottom: 35px;
    font-size: 22px;
}

.loading {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0px;
    left: 0px;
    background-color: #fff;
    height: 100vh;
    z-index: 9999;
    text-align: center;
}


@media only screen and (max-width: 700px) {
/* 
    .side-nav {
        position: fixed;
        bottom: 20px;
        left: 5%;
        width: 90%;
    } */

    .banner h1 {
        font-size: 36px;
    }

}